/bin-linux
/bin-win
/doc
/.idea
/home/logs/log

"home/libglloadgen.dll \342\200\224 skr\303\263t.lnk"
"home/libglloadgen.dll.a \342\200\224 skr\303\263t.lnk"
"home/libzinot-utils.dll \342\200\224 skr\303\263t.lnk"
"home/libzinot-utils.dll.a \342\200\224 skr\303\263t.lnk"
"home/zinot-engine.exe \342\200\224 skr\303\263t.lnk"
"home/zinot-textool.exe \342\200\224 skr\303\263t.lnk"
